*{
  margin: 0;
  padding: 0;
}

#base-task {
  display: none;
}

.task-list{
  margin-bottom: 2%;
  background-color: lightcoral;
  width: 20%;

  .task-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    .name{
      
    }
  }
}